* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 360px;
}

/* ===== Ortak komponentler ===== */
input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

input:hover {
  border-color: #000;
}

button {
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  border-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
  border-color: #6c8cff;
}

/* ===== Task 1 ===== */
#categories {
  width: 440px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  width: 392px;
  padding: 16px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

.item h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.item ul {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  height: 40px;
  padding: 8px 0 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* ===== Task 2 ===== */
.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

/* ===== Task 3 ===== */
.textField {
  width: 408px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textField h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

#name-input::placeholder {
  color: #2e2f42;
}

/* ===== Task 4 ===== */
.login-form {
  width: 408px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ===== Task 5 ===== */
.widget {
  width: 345px;
  height: 280px;
  padding: 100px 88px;
  background-color: #fff;
  border-radius: 8px;
}

.widget p {
  margin-bottom: 16px;
}

.change-color {
  width: 148px;
}

/* ===== Task 6 ===== */
#controls,
#boxes {
  background-color: #f6f6fe;
  width: 486px;
}
#controls {
  border-radius: 8px;
  padding: 32px;
  height: 104px;
  margin-bottom: 16px;
}
#controls input {
  width: 150px;
  height: 40px;
  text-align: center;
}
.red-button {
  background-color: #ff4e4e;
  border-color: #ff4e4e;
}
.red-button:hover {
  background-color: #ff7070;
  border-color: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  padding: 32px;
}
